.map {
  width: 100%;
  display: flex;
  justify-self: center;
  height: 400px; 
  border: 10px solid #93B795; 
  border-radius: 0.8rem;
  overflow: hidden;
  border: 5px solid #93B795;
  /* margin-left: 360px; */
  margin-top: 0px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  max-width: 46rem;
}



